USE [FitTrackDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Age] [int] NULL,
	[FitnessGoal] [int] NULL,
	[FitnessLevel] [int] NULL,
	[Gender] [int] NULL,
	[HasCompletedProfile] [bit] NOT NULL,
	[Height] [real] NULL,
	[Weight] [real] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalendarEntries]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[WorkoutProgramId] [int] NOT NULL,
	[WeeklyPlanDayId] [int] NULL,
	[ScheduledDate] [datetime2](7) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedOn] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_CalendarEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exercises]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[MuscleGroup] [nvarchar](100) NOT NULL,
	[Sets] [int] NOT NULL,
	[Reps] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[RepUnit] [int] NOT NULL,
 CONSTRAINT [PK_Exercises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramExercises]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramExercises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkoutProgramId] [int] NOT NULL,
	[ExerciseId] [int] NOT NULL,
 CONSTRAINT [PK_ProgramExercises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramReviews]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[WorkoutProgramId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProgramReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPrograms]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPrograms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[WorkoutProgramId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedWorkouts] [int] NOT NULL,
 CONSTRAINT [PK_UserPrograms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeeklyPlanDayExercises]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklyPlanDayExercises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WeeklyPlanDayId] [int] NOT NULL,
	[ExerciseId] [int] NULL,
	[Sets] [int] NOT NULL,
	[Reps] [int] NOT NULL,
	[RepUnit] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[ExerciseName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_WeeklyPlanDayExercises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeeklyPlanDays]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklyPlanDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WeeklyPlanId] [int] NOT NULL,
	[DayNumber] [int] NOT NULL,
	[DayName] [nvarchar](20) NOT NULL,
	[Focus] [nvarchar](100) NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_WeeklyPlanDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeeklyPlans]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklyPlans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkoutProgramId] [int] NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_WeeklyPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeightLogs]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeightLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Weight] [real] NOT NULL,
	[LoggedOn] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_WeightLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkoutLogs]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[WorkoutProgramId] [int] NOT NULL,
	[LoggedOn] [datetime2](7) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[Feeling] [int] NOT NULL,
 CONSTRAINT [PK_WorkoutLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkoutPrograms]    Script Date: 9.6.2026 г. 21:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutPrograms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Level] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[DurationWeeks] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsWorkoutOnly] [bit] NOT NULL,
 CONSTRAINT [PK_WorkoutPrograms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260415124650_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260415180906_AddUserProfile', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260416175018_AddProgressTracking', N'9.0.0')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'688db221-d1e1-497d-8d68-9d23da57d197', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'b49c2c75-1a8c-4581-bb39-0f15b1667ea5', N'User', N'USER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ce223607-5978-4024-a575-bedad672ef5d', N'688db221-d1e1-497d-8d68-9d23da57d197')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'24de8813-fd05-420b-b800-f178336aaa83', N'b49c2c75-1a8c-4581-bb39-0f15b1667ea5')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8736b88e-68c4-4969-a213-fe1e46206e42', N'b49c2c75-1a8c-4581-bb39-0f15b1667ea5')
GO
SET IDENTITY_INSERT [dbo].[CalendarEntries] ON 

INSERT [dbo].[CalendarEntries] ([Id], [UserId], [WorkoutProgramId], [WeeklyPlanDayId], [ScheduledDate], [IsCompleted], [CompletedOn], [Notes]) VALUES (1, N'8736b88e-68c4-4969-a213-fe1e46206e42', 4, 2, CAST(N'2026-04-27T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-04-22T18:55:35.9416574' AS DateTime2), NULL)
INSERT [dbo].[CalendarEntries] ([Id], [UserId], [WorkoutProgramId], [WeeklyPlanDayId], [ScheduledDate], [IsCompleted], [CompletedOn], [Notes]) VALUES (2, N'8736b88e-68c4-4969-a213-fe1e46206e42', 4, 3, CAST(N'2026-04-29T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-04-22T18:55:33.7048976' AS DateTime2), NULL)
INSERT [dbo].[CalendarEntries] ([Id], [UserId], [WorkoutProgramId], [WeeklyPlanDayId], [ScheduledDate], [IsCompleted], [CompletedOn], [Notes]) VALUES (3, N'8736b88e-68c4-4969-a213-fe1e46206e42', 4, 4, CAST(N'2026-05-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CalendarEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[Exercises] ON 

INSERT [dbo].[Exercises] ([Id], [Name], [Description], [MuscleGroup], [Sets], [Reps], [ImageUrl], [RepUnit]) VALUES (1, N'Bodyweight Squat', N'Stand feet shoulder-width apart, lower until thighs are parallel to the floor, then return to standing.', N'Quadriceps', 3, 12, NULL, 0)
INSERT [dbo].[Exercises] ([Id], [Name], [Description], [MuscleGroup], [Sets], [Reps], [ImageUrl], [RepUnit]) VALUES (2, N'Push-Up', N'Keep body straight from head to heels, lower chest to the floor and press back up.', N'Chest', 3, 10, NULL, 0)
INSERT [dbo].[Exercises] ([Id], [Name], [Description], [MuscleGroup], [Sets], [Reps], [ImageUrl], [RepUnit]) VALUES (3, N'Dumbbell Row', N'Hinge at the hips, pull a dumbbell from a hanging position to your hip, keeping the elbow close.', N'Back', 3, 10, NULL, 0)
SET IDENTITY_INSERT [dbo].[Exercises] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgramExercises] ON 

INSERT [dbo].[ProgramExercises] ([Id], [WorkoutProgramId], [ExerciseId]) VALUES (10, 4, 10)
INSERT [dbo].[ProgramExercises] ([Id], [WorkoutProgramId], [ExerciseId]) VALUES (11, 4, 11)
INSERT [dbo].[ProgramExercises] ([Id], [WorkoutProgramId], [ExerciseId]) VALUES (12, 4, 12)
SET IDENTITY_INSERT [dbo].[ProgramExercises] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgramReviews] ON 

INSERT [dbo].[ProgramReviews] ([Id], [UserId], [WorkoutProgramId], [Rating], [Comment], [CreatedOn]) VALUES (1, N'f9a4ea54-2893-4227-ac72-ddc778f9f26b', 4, 5, N'Very nice program. I recommend it for beginners.', CAST(N'2026-04-20T17:37:41.8172828' AS DateTime2))
INSERT [dbo].[ProgramReviews] ([Id], [UserId], [WorkoutProgramId], [Rating], [Comment], [CreatedOn]) VALUES (2, N'8736b88e-68c4-4969-a213-fe1e46206e42', 5, 5, N'Very good', CAST(N'2026-04-22T19:03:58.4517261' AS DateTime2))
INSERT [dbo].[ProgramReviews] ([Id], [UserId], [WorkoutProgramId], [Rating], [Comment], [CreatedOn]) VALUES (3, N'8736b88e-68c4-4969-a213-fe1e46206e42', 7, 5, N'Pretty nice', CAST(N'2026-04-22T19:04:13.4165991' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProgramReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPrograms] ON 

INSERT [dbo].[UserPrograms] ([Id], [UserId], [WorkoutProgramId], [StartDate], [IsCompleted], [CompletedWorkouts]) VALUES (5, N'8736b88e-68c4-4969-a213-fe1e46206e42', 4, CAST(N'2026-04-22T18:55:14.5346770' AS DateTime2), 0, 0)
INSERT [dbo].[UserPrograms] ([Id], [UserId], [WorkoutProgramId], [StartDate], [IsCompleted], [CompletedWorkouts]) VALUES (6, N'8736b88e-68c4-4969-a213-fe1e46206e42', 7, CAST(N'2026-06-04T17:26:33.3055902' AS DateTime2), 0, 0)
INSERT [dbo].[UserPrograms] ([Id], [UserId], [WorkoutProgramId], [StartDate], [IsCompleted], [CompletedWorkouts]) VALUES (7, N'24de8813-fd05-420b-b800-f178336aaa83', 5, CAST(N'2026-06-05T18:37:45.6968317' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[UserPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[WeeklyPlanDayExercises] ON 

INSERT [dbo].[WeeklyPlanDayExercises] ([Id], [WeeklyPlanDayId], [ExerciseId], [Sets], [Reps], [RepUnit], [OrderIndex], [Notes], [ExerciseName]) VALUES (1, 2, NULL, 3, 15, 0, 1, NULL, N'Wall Push-ups')
INSERT [dbo].[WeeklyPlanDayExercises] ([Id], [WeeklyPlanDayId], [ExerciseId], [Sets], [Reps], [RepUnit], [OrderIndex], [Notes], [ExerciseName]) VALUES (2, 2, NULL, 3, 12, 0, 2, NULL, N'Dumbbell Shoulder press')
INSERT [dbo].[WeeklyPlanDayExercises] ([Id], [WeeklyPlanDayId], [ExerciseId], [Sets], [Reps], [RepUnit], [OrderIndex], [Notes], [ExerciseName]) VALUES (3, 2, NULL, 3, 10, 0, 3, NULL, N'Tricep Dips(chair)')
GO
SET IDENTITY_INSERT [dbo].[WeeklyPlanDayExercises] OFF
GO
SET IDENTITY_INSERT [dbo].[WeeklyPlanDays] ON 

INSERT [dbo].[WeeklyPlanDays] ([Id], [WeeklyPlanId], [DayNumber], [DayName], [Focus], [Notes]) VALUES (1, 1, 1, N'Monday', N'Focus on upper body', NULL)
INSERT [dbo].[WeeklyPlanDays] ([Id], [WeeklyPlanId], [DayNumber], [DayName], [Focus], [Notes]) VALUES (2, 2, 1, N'Monday', N'Upper Body Push', NULL)
INSERT [dbo].[WeeklyPlanDays] ([Id], [WeeklyPlanId], [DayNumber], [DayName], [Focus], [Notes]) VALUES (3, 2, 2, N'Wednesday', N'Lower Body', NULL)
SET IDENTITY_INSERT [dbo].[WeeklyPlanDays] OFF
GO
SET IDENTITY_INSERT [dbo].[WeeklyPlans] ON 

INSERT [dbo].[WeeklyPlans] ([Id], [WorkoutProgramId], [WeekNumber], [Title], [Description]) VALUES (1, 7, 1, N'Week one', NULL)
INSERT [dbo].[WeeklyPlans] ([Id], [WorkoutProgramId], [WeekNumber], [Title], [Description]) VALUES (2, 4, 1, N'Foundation', NULL)
INSERT [dbo].[WeeklyPlans] ([Id], [WorkoutProgramId], [WeekNumber], [Title], [Description]) VALUES (3, 4, 2, N'Adaptation', NULL)
SET IDENTITY_INSERT [dbo].[WeeklyPlans] OFF
GO
SET IDENTITY_INSERT [dbo].[WeightLogs] ON 

INSERT [dbo].[WeightLogs] ([Id], [UserId], [Weight], [LoggedOn], [Notes]) VALUES (1, N'f9a4ea54-2893-4227-ac72-ddc778f9f26b', 75, CAST(N'2026-04-16T00:00:00.0000000' AS DateTime2), N'morning weight ')
INSERT [dbo].[WeightLogs] ([Id], [UserId], [Weight], [LoggedOn], [Notes]) VALUES (2, N'f9a4ea54-2893-4227-ac72-ddc778f9f26b', 85, CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2), N'morning weight ')
INSERT [dbo].[WeightLogs] ([Id], [UserId], [Weight], [LoggedOn], [Notes]) VALUES (3, N'24de8813-fd05-420b-b800-f178336aaa83', 50, CAST(N'2026-06-05T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[WeightLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkoutLogs] ON 

INSERT [dbo].[WorkoutLogs] ([Id], [UserId], [WorkoutProgramId], [LoggedOn], [DurationMinutes], [Notes], [Feeling]) VALUES (3, N'f9a4ea54-2893-4227-ac72-ddc778f9f26b', 4, CAST(N'2026-04-22T00:00:00.0000000' AS DateTime2), 45, NULL, 1)
INSERT [dbo].[WorkoutLogs] ([Id], [UserId], [WorkoutProgramId], [LoggedOn], [DurationMinutes], [Notes], [Feeling]) VALUES (4, N'24de8813-fd05-420b-b800-f178336aaa83', 5, CAST(N'2026-06-05T00:00:00.0000000' AS DateTime2), 45, NULL, 1)
SET IDENTITY_INSERT [dbo].[WorkoutLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkoutPrograms] ON 

INSERT [dbo].[WorkoutPrograms] ([Id], [Name], [Description], [Level], [Category], [DurationWeeks], [ImageUrl], [CreatedOn], [IsWorkoutOnly]) VALUES (4, N'Beginner Full Body ', N'An ideal beginner program for people with no fitness experience. Includes basic full-body exercises with an emphasis on proper technique and building a habit of regular exercise.', 0, 0, 7, NULL, CAST(N'2026-04-15T18:24:12.6015450' AS DateTime2), 0)
INSERT [dbo].[WorkoutPrograms] ([Id], [Name], [Description], [Level], [Category], [DurationWeeks], [ImageUrl], [CreatedOn], [IsWorkoutOnly]) VALUES (5, N'Cardio Blast ', N'An intense cardio program to improve endurance and burn calories. Combines HIIT intervals with moderate cardio for maximum effect.', 1, 1, 6, N'https://www.istockphoto.com/photos/intense-workout', CAST(N'2026-04-16T18:15:00.0364402' AS DateTime2), 1)
INSERT [dbo].[WorkoutPrograms] ([Id], [Name], [Description], [Level], [Category], [DurationWeeks], [ImageUrl], [CreatedOn], [IsWorkoutOnly]) VALUES (6, N'Flexibility & Yoga', N'A program focused on improving flexibility and mobility. Suitable for everyone — especially those with tight muscles from desk work or after intense training sessions.', 0, 2, 3, NULL, CAST(N'2026-04-16T18:18:32.8884497' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[WorkoutPrograms] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasCompletedProfile]
GO
ALTER TABLE [dbo].[Exercises] ADD  DEFAULT ((0)) FOR [RepUnit]
GO
ALTER TABLE [dbo].[WeeklyPlanDayExercises] ADD  DEFAULT (N'') FOR [ExerciseName]
GO
ALTER TABLE [dbo].[WorkoutPrograms] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsWorkoutOnly]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CalendarEntries]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEntries_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CalendarEntries] CHECK CONSTRAINT [FK_CalendarEntries_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CalendarEntries]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEntries_WeeklyPlanDays_WeeklyPlanDayId] FOREIGN KEY([WeeklyPlanDayId])
REFERENCES [dbo].[WeeklyPlanDays] ([Id])
GO
ALTER TABLE [dbo].[CalendarEntries] CHECK CONSTRAINT [FK_CalendarEntries_WeeklyPlanDays_WeeklyPlanDayId]
GO
ALTER TABLE [dbo].[CalendarEntries]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEntries_WorkoutPrograms_WorkoutProgramId] FOREIGN KEY([WorkoutProgramId])
REFERENCES [dbo].[WorkoutPrograms] ([Id])
GO
ALTER TABLE [dbo].[CalendarEntries] CHECK CONSTRAINT [FK_CalendarEntries_WorkoutPrograms_WorkoutProgramId]
GO
ALTER TABLE [dbo].[ProgramExercises]  WITH CHECK ADD  CONSTRAINT [FK_ProgramExercises_Exercises_ExerciseId] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercises] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramExercises] CHECK CONSTRAINT [FK_ProgramExercises_Exercises_ExerciseId]
GO
ALTER TABLE [dbo].[ProgramExercises]  WITH CHECK ADD  CONSTRAINT [FK_ProgramExercises_WorkoutPrograms_WorkoutProgramId] FOREIGN KEY([WorkoutProgramId])
REFERENCES [dbo].[WorkoutPrograms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramExercises] CHECK CONSTRAINT [FK_ProgramExercises_WorkoutPrograms_WorkoutProgramId]
GO
ALTER TABLE [dbo].[ProgramReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProgramReviews_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramReviews] CHECK CONSTRAINT [FK_ProgramReviews_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ProgramReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProgramReviews_WorkoutPrograms_WorkoutProgramId] FOREIGN KEY([WorkoutProgramId])
REFERENCES [dbo].[WorkoutPrograms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramReviews] CHECK CONSTRAINT [FK_ProgramReviews_WorkoutPrograms_WorkoutProgramId]
GO
ALTER TABLE [dbo].[UserPrograms]  WITH CHECK ADD  CONSTRAINT [FK_UserPrograms_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPrograms] CHECK CONSTRAINT [FK_UserPrograms_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserPrograms]  WITH CHECK ADD  CONSTRAINT [FK_UserPrograms_WorkoutPrograms_WorkoutProgramId] FOREIGN KEY([WorkoutProgramId])
REFERENCES [dbo].[WorkoutPrograms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPrograms] CHECK CONSTRAINT [FK_UserPrograms_WorkoutPrograms_WorkoutProgramId]
GO
ALTER TABLE [dbo].[WeeklyPlanDayExercises]  WITH CHECK ADD  CONSTRAINT [FK_WeeklyPlanDayExercises_Exercises_ExerciseId] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercises] ([Id])
GO
ALTER TABLE [dbo].[WeeklyPlanDayExercises] CHECK CONSTRAINT [FK_WeeklyPlanDayExercises_Exercises_ExerciseId]
GO
ALTER TABLE [dbo].[WeeklyPlanDayExercises]  WITH CHECK ADD  CONSTRAINT [FK_WeeklyPlanDayExercises_WeeklyPlanDays_WeeklyPlanDayId] FOREIGN KEY([WeeklyPlanDayId])
REFERENCES [dbo].[WeeklyPlanDays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeeklyPlanDayExercises] CHECK CONSTRAINT [FK_WeeklyPlanDayExercises_WeeklyPlanDays_WeeklyPlanDayId]
GO
ALTER TABLE [dbo].[WeeklyPlanDays]  WITH CHECK ADD  CONSTRAINT [FK_WeeklyPlanDays_WeeklyPlans_WeeklyPlanId] FOREIGN KEY([WeeklyPlanId])
REFERENCES [dbo].[WeeklyPlans] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeeklyPlanDays] CHECK CONSTRAINT [FK_WeeklyPlanDays_WeeklyPlans_WeeklyPlanId]
GO
ALTER TABLE [dbo].[WeeklyPlans]  WITH CHECK ADD  CONSTRAINT [FK_WeeklyPlans_WorkoutPrograms_WorkoutProgramId] FOREIGN KEY([WorkoutProgramId])
REFERENCES [dbo].[WorkoutPrograms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeeklyPlans] CHECK CONSTRAINT [FK_WeeklyPlans_WorkoutPrograms_WorkoutProgramId]
GO
ALTER TABLE [dbo].[WeightLogs]  WITH CHECK ADD  CONSTRAINT [FK_WeightLogs_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeightLogs] CHECK CONSTRAINT [FK_WeightLogs_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[WorkoutLogs]  WITH CHECK ADD  CONSTRAINT [FK_WorkoutLogs_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkoutLogs] CHECK CONSTRAINT [FK_WorkoutLogs_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[WorkoutLogs]  WITH CHECK ADD  CONSTRAINT [FK_WorkoutLogs_WorkoutPrograms_WorkoutProgramId] FOREIGN KEY([WorkoutProgramId])
REFERENCES [dbo].[WorkoutPrograms] ([Id])
GO
ALTER TABLE [dbo].[WorkoutLogs] CHECK CONSTRAINT [FK_WorkoutLogs_WorkoutPrograms_WorkoutProgramId]
GO
